body {
  background-color:#FFFFFF;
  margin:1em;
  padding:0;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #000000;
}

/* Browser Bug, set textarea explicitly */
textarea, input, select, button {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1em;
}

a:link    { color:#425d73; text-decoration:none; }
a:visited { color:#425d73; text-decoration:none; }
a:hover   { color:#000000; text-decoration:underline; }
a:active  { color:#000000; text-decoration:underline; }

h1 {
  font-size: 1.4em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}  

td.switch h1:before {
  content: "⬇";
  color: MenuText;
}  
td.switch h1.margin:before {
  content: "➡";
  color: MenuText;
  vertical-align:top;
}  

#areainstance   {                                }
#areacontext    {                                }
#areaendpoints  {                                }
#areaposition   { height: 7.2em; overflow: auto; }
#areaproperties { height: 7.2em; overflow: auto; }

.fixedstate {
  background-color: white;
  margin:0;
  padding:1em;
  position:fixed;
  padding-top:0em;
  bottom:0;
  left:0;
  right:0;
}

span.active {
  font-weight: bold;
  color: #ff0000;
}
span.vote {
  font-weight: bold;
  color: #00ff00;
}

table.layout {
  width: 100%;
  border-spacing:0;
  border:0 none;
  padding:0;
  margin:0;
}
table.layout td.fixed { white-space:nowrap; }
table.layout td.long { width:100%; }
table.layout td.top { vertical-align: top; }

#tabledetails tr:nth-child(odd) { background-color: Menu; color: MenuText; }
#tabledetails td { vertical-align: top; }

table.tab { margin-bottom:1em; }
.fixedstate table.tab { margin-bottom:0; }

table.tab .tab {
  cursor: pointer;
  padding:0.2em 1em;
  border: 1pt solid Menu;
  border-bottom: 0 none;
  border-radius: 1em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  -moz-border-radius: 1em;
  -moz-border-radius-bottomleft: 0em;
  -moz-border-radius-bottomright: 0em;
  -webkit-border-radius: 1em;
  -webkit-border-bottom-left-radius: 0em;
  -webkit-border-bottom-right-radius: 0em;
}
table.tab .tab h1 { margin-top: 0em; margin-bottom: 0em; padding-top: 0em; padding-bottom: 0em; }
table.tab .tab h1 { white-space: nowrap; }

table.tab .inactivearea { display: none; }
table.tab .inactivetab {
  padding:0.2em 1em;
  border: 1pt solid Menu;
  border-radius: 1em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  -moz-border-radius: 1em;
  -moz-border-radius-bottomleft: 0em;
  -moz-border-radius-bottomright: 0em;
  -webkit-border-radius: 1em;
  -webkit-border-bottom-left-radius: 0em;
  -webkit-border-bottom-right-radius: 0em;
}

table.tab td.tabbehind {
  padding:0.2em 1em;
  border-bottom: 1pt solid Menu;
  border-radius: 1em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  -moz-border-radius: 1em;
  -moz-border-radius-bottomleft: 0em;
  -moz-border-radius-bottomright: 0em;
  -webkit-border-radius: 1em;
  -webkit-border-bottom-left-radius: 0em;
  -webkit-border-bottom-right-radius: 0em;
}

table.tab td.tabbelow {
  padding:1em;
  border-bottom: 1pt solid Menu;
  border-left: 1pt solid Menu;
  border-right: 1pt solid Menu;
  border-radius: 1em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  -moz-border-radius: 1em;
  -moz-border-radius-topleft: 0em;
  -moz-border-radius-topright: 0em;
  -webkit-border-radius: 1em;
  -webkit-border-top-left-radius: 0em;
  -webkit-border-top-right-radius: 0em;
}

table.tab td.switch {
  background-color: Menu;
}

table.tab tr.border td {
  height:0.1em;
  background-color: Menu;
  border-left: 1pt solid Menu;
  border-right: 1pt solid Menu;
  border-bottom: 1pt solid Menu;
}

#tablelog { width:100%; }
#tablelog td { vertical-align: top; }
#tablelog tr:nth-child(odd) { background-color: Menu; color: MenuText; }

#instance td:nth-child(1) { width: 8em; padding-right: 1em; }
#instance td:nth-child(3) { width: 16em; padding-left: 1em; }
#instance input                 { width: 100%;  }
#instance button[name=testset]  { width: 100%;  }
#instance button[name=base]     { width: 100%;  }
#instance button[name=instance] { width: 100%;  }

#endpoints {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
}

#context-variables {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
}

#dsl { 
  font-family: monospace; 
  font-size:1.3em;
}

.hidden {
  display: none;
}

svg {
  fill: #DDDDDD;
  fill-opacity:1;
  display:inline;
  margin:0;
  padding:0;
  margin-top: -0.4em;
  margin-left: -0.5em;
}

svg rect.group {
  fill: Highlight;
  fill-opacity: 0.2;
}
svg .clickable { cursor: pointer; }

svg use.active circle {
  fill: #ff0000;
  fill-opacity:1;
}  
svg use.vote circle {
  fill: #00ff00;
  fill-opacity:1;
}  

svg line.ourline, svg path.ourline {
  stroke-opacity:1; 
  stroke:#000000;
  stroke-width: 2; 
  fill: none;
}
svg rect.block {
  stroke-width: 1; 
  stroke-dasharray: 3,5;
  stroke: #000000;
  fill: none;
}
svg .stand {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:2.06896567;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .gen {
  fill:Menu;
  fill-opacity:1;
  stroke-opacity:0.7;
  stroke:#000000;
  stroke-width:2.06896567;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .standwithout {
  fill:#ffffff;
  fill-opacity:1;
}
svg text.normal {
  font-size:20px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:lr-tb;
  text-anchor:middle;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}

svg text.super {
  font-size:11px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:100%;
  writing-mode:lr-tb;
  text-anchor:left;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}
svg tspan.active {
  fill:#ff0000;
  display: none;
}
svg tspan.vote {
  fill:#73d216;
  display: none;
}
svg tspan.colon {
  display: none;
}
svg tspan.necessary {
  display: inline;
}

svg text.normallarge {
  font-size:25px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:lr-tb;
  text-anchor:middle;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}
svg text.small {
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:lr-tb;
  text-anchor:middle;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}
 
#arrow { 
 stroke: #000000;
 stroke-width: 2;
 fill: #000000;
}
