body {
  background-color:#FFFFFF;
  margin:1em;
  padding:0;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #000000;
}

/* Browser Bug, set textarea explicitly */
textarea, input, select, button {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1em;
}

a:link    { color:#425d73; text-decoration:none; }
a:visited { color:#425d73; text-decoration:none; }
a:hover   { color:#000000; text-decoration:underline; }
a:active  { color:#000000; text-decoration:underline; }

div.section {
  padding:1em;
  border: 1pt solid ButtonShadow;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  margin-top:1em;
}
div.section:nth-child(1) { margin-top: 1em; }

h1 {
  font-size: 1.4em;
  margin-top: 0em;
  padding-top:0em;
}  

#instance {
  width: 100%;
  border-collapse:collapse;
  border-spacing:0px;
  border:0px none;
  margin:0px;
  padding:0px;
}
#instance td:nth-child(1) { width: 8em; padding-right: 1em; }
#instance td:nth-child(3) { width: 18em; padding-left: 1em; }
#instance input { width: 100% }
#instance button[name=testset]  { width: 100%;  }
#instance button[name=base]     { width: 100%;  }
#instance button[name=instance] { width: 100%;  }

#endpoints {
  border-collapse:collapse;
  border-spacing:0px;
  border:0px none;
  margin:0px;
  padding:0px;
}

#context-variables {
  border-collapse:collapse;
  border-spacing:0px;
  border:0px none;
  margin:0px;
  padding:0px;
}

#description { 
  font-family: monospace; 
  font-size:1.3em;
}

