% mtime = ::File.mtime(__ERB_FILE__)
% @headers << Riddl::Header.new("Last-Modified",mtime.httpdate)
% @headers << Riddl::Header.new("ETag",Digest::MD5.hexdigest(mtime.httpdate))
% htime = @e["HTTP_IF_MODIFIED_SINCE"].nil? ? Time.at(0) : Time.parse(@e["HTTP_IF_MODIFIED_SINCE"])
% if htime == mtime
%   @headers << Riddl::Header.new("Connection","close")
%   @status = 304 # Not modified
% else 
%   if @e['HTTP_USER_AGENT']=~ /MSIE/ && @e['HTTP_USER_AGENT'] !~ /Opera/
%     formsizeS = '100.6%'
%   else
%     formsizeS = '101.2%'
%   end
/* <%= "Last-Modified: #{mtime}" %> */
/* <%= @e['HTTP_USER_AGENT'] %> */
/* Please see the LICENSE.GPL file for copyright and distribution information */

body {
  background-color:#FFFFFF;
  margin:0;
  padding:0;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #000000;
}

/* Browser Bug, set textarea explicitly */
textarea, input, select, button {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 1em;
}

a:link    { color:#425d73; text-decoration:none; }
a:visited { color:#425d73; text-decoration:none; }
a:hover   { color:#000000; text-decoration:underline; }
a:active  { color:#000000; text-decoration:underline; }

#header {
  border:0 none;
  margin:0;
  padding:0;
  height:6.8em;
}
#header div.back {
  position: absolute;
  margin: 0;
  padding: 0;
  width:100%;
  z-index: 11;
  height: 5em;
  background-color: #00659C;
}
#header div.back img {
  width: 17.91666667em;
  height: 5em;
  border:0 none;
}
#header div.left {
  position:absolute;
  margin: 0;
  padding: 0;
  top:0;
  z-index: 16;
  height: 6.58333333em;
}
#header div.left img {
  width: 13em;
  height: 6.58333333em;
  border:0 none;
}
#header div.right {
  margin: 0;
  padding: 0;
  text-align: right;
  width:100%;
  top:0.41666em;
  right:0.2em;
  height: 4.1666666em;
  position: absolute;
  z-index: 13;
}
#header div.right img {
  width: 15em;
  height: 4.1666666em;
  border:0 none;
}
#header div.title {
  position: absolute;
  z-index: 14;
  color:#FFFFFF;
  padding-top: 0.2em;
  padding-left: 1em;
}
#header .title1 {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  white-space:nowrap;
}
#header .title2 {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  font-size: 1.1em;
  line-height: 1em;
  white-space:nowrap;
}

#header div.bread {
  color:#000000;
  background-color: #838583;
  top: 5em;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  z-index: 17;
  height:1.8em;
  line-height:1.6em;
}

#header div.bread div {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

#header a:link    { color:#ffffff; text-decoration:none; }
#header a:visited { color:#ffffff; text-decoration:none; }
#header a:active  { color:#000000; text-decoration:underline; }
#header a:hover   { color:#000000; text-decoration:underline; }

#content { padding:1em; }

% end
