{
  "logs-url": "https://%host/logs/",
  "templates-url": "https://%host/hub/server/Templates.dir/?stage=development",
  "resources-url": "https://%host/flow/resources/",
  "base-url": "https://%host/flow/engine/",
  "save-url": "https://%host/hub/server/",
  "llm-service-url": "https://%host/llm/",
  "document-store-url": "https://%host/document-store-url/"
}
