svg rect.border {
  fill: var(--wfadaptor-border);
}
svg .resource-point.read {
  fill: green;
}
svg .resource-point.read text {
  font-size: 11px;
  fill: black;
}
svg .resource-point.write {
  fill: orange;
}
svg .resource-point.write text {
  font-size: 11px;
  fill: black;
}
svg .resource-point.both {
  fill: blue;
}
svg .resource-point.both text {
  font-size: 11px;
  fill: black;
}
svg line.resource-column {
  stroke: grey;
  stroke-opacity: 0.1;
}
svg line.resource-column:hover {
  stroke: red;
  stroke-opacity: 0.1;
}
