#loadtxt {
  display: none;
}

#status {
  padding: 0.2em 0.5em;
  border-top: 0.1em solid var(--x-ui-border-color);
  background-color: var(--x-tab-inactive-color);
  min-height: 1.4em;
  overflow:hidden;
}
#status.error {
  background-color: var(--wfadaptor-selected);
}
#status.success {
  background-color: var(--wfadaptor-exec-vote);
}

#prompt_container {
  padding: 0.2em 0.5em;
  outline: none;
  min-height: 2.66em;
  display: flex;
  flex-wrap: nowrap;
}

.max {
  max-height: 2.66em;
}

.stand_alone {
  height: 100%;
}
#prompt {
  flex: 1 1 auto;
  outline: none;
  min-height: 2.66em;
  overflow-y: scroll;
}
#prompt:empty:before {
  font-family: adawaita-sans;
  white-space: normal;
  content: attr(placeholder);
  display: block;
}

#llm_params {
  flex: 0 0 auto;
  box-sizing: border-box;
  outline: none;
  min-height: 2.66em;
}

#llmlabel {
  width: 20%;
}

.single {
  width: 2.3em;
  height: 2.3em;
}

.multi {
  border-top: 0.1em solid var(--x-ui-border-color);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 15px;
  gap: 5px;
}

.llm_button {
  width: 100%;
  height: 100%;
}

.llm_button:hover {
  background-color: var(--wfadaptor-selected);
}
