#loadtxt {
  display: none;
}

#graphcolumn {
  min-width: 30em !important;
}

#status {
  padding: 0.2em 0.5em;
  border-top: 0.1em solid var(--x-ui-border-color);
  background-color: var(--x-tab-inactive-color);
  min-height: 1.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
#status.error {
  background-color: var(--wfadaptor-selected);
}
#status.success {
  background-color: var(--wfadaptor-exec-vote);
}
#status.loading {
  background-color: #99c1f1;
}

#status.loading::after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes dotty {
  0%   { content: ''; }
  16%  { content: '.'; }
  32%  { content: '..'; }
  48%  { content: '...'; }
  64%  { content: '..'; }
  80%  { content: '.'; }
  100% { content: ''; }
}

@keyframes dotty {
  0%   { content: 'ₒₒₒ'; }
  16%  { content: 'ₒₒ∘'; }
  32%  { content: 'ₒ∘ᵒ'; }
  48%  { content: '∘ᵒ∘'; }
  64%  { content: 'ᵒ∘ₒ'; }
  80%  { content: '∘ₒₒ'; }
  100% { content: 'ₒₒₒ'; }
}

#prompt_container {
  padding: 0.2em 0.5em;
  outline: none;
  min-height: 7.3em;
  display: flex;
  flex-wrap: nowrap;
}

.max {
  max-height: 2.66em;
}

.stand_alone {
  height: 100%;
}
#prompt {
  flex: 1 1 auto;
  outline: none;
  overflow-y: scroll;
}
#prompt:empty:before {
  font-family: adwaita-sans;
  white-space: normal;
  content: attr(placeholder);
  display: block;
}

#llm_params {
  flex: 0 0 auto;
  box-sizing: border-box;
  outline: none;
  min-height: 2.66em;
}

#llmlabel {
  width: 20%;
}

.single {
  width: 2.3em;
  height: 2.3em;
}

.multi {
  border-top: 0.1em solid var(--x-ui-border-color);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 15px;
  gap: 5px;
}

.llm_button {
  width: 100%;
  min-width: 2.5em;
  height: 2em;
}
.llm_button.small:nth-child(n+2) {
  margin-top: 0.5em;
}

.llm_button:hover {
  background-color: var(--wfadaptor-selected);
}

#detailcolumn {
  padding-left: 0em !important;
}
#details {
  padding-left: 1.5em;
  min-height: 7em;
}
