#areamodel input[type=file]         { display: none; }
#areamodel div.section              { display: table-cell; vertical-align: middle; }
#areamodel div.section:nth-child(1) {                                                  padding: 0 0.5em 0 0; white-space: nowrap; }
#areamodel div.section:nth-child(2) { border-left: 1px solid var(--x-ui-border-color); padding: 0 0.5em;     white-space: nowrap; }
#areamodel div.section:nth-child(3) { border-left: 1px solid var(--x-ui-border-color); padding: 0 0.5em;     white-space: nowrap; }
#areamodel div.section:nth-child(4) { border-left: 1px solid var(--x-ui-border-color); padding: 0 0 0 0.5em; white-space: nowrap; }

#areamodel div.section:nth-child(1) button                       { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areamodel div.section:nth-child(1) button[name=save]            { white-space: normal; width: 10em; height: 5.5em; margin-left: 0.2em; }

#areamodel div.section:nth-child(2) div                          { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areamodel div.section:nth-child(2) button                       { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areamodel div.section:nth-child(2) div:nth-child(2)             { white-space: normal; text-align: right; }
#areamodel div.section:nth-child(2) button[name=loadtestsetfile] { white-space: normal; width: 10em; height: 3.5em; margin-left: 0.2em; }
#areamodel div.section:nth-child(2) button[name=loadmodelfile]   { white-space: normal; width: 10em; height: 2em;   margin-top: 0.2em; }

#areamodel div.section:nth-child(3) div                          { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areamodel div.section:nth-child(3) button                       { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areamodel div.section:nth-child(3) div:nth-child(2)             { white-space: normal; text-align: right; }
#areamodel div.section:nth-child(3) button[name=savetestsetfile] { white-space: normal; width: 10em; height: 3.5em; margin-left: 0.2em; }
#areamodel div.section:nth-child(3) button[name=savesvgfile]     { white-space: normal; width: 10em; height: 2em;   margin-top: 0.2em; }

#areamodel div.section:nth-child(4) div                          { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areamodel div.section:nth-child(4) button[name=loadmodeltype]   { white-space: normal; width: 10em; height: 2em; }

#model ui-content { height: 5em; }
