resources {
  border-left: 1pt solid var(--wfadaptor-border);
}
#resources line.resource-line:hover {
  stroke: red;
}

.resource-label {
  position: absolute;
  padding-left: 0.5em;
  padding-right: 0.5em;
  min-width: 10ex;
  height: 2em;
  text-align: center;
  line-height: 2em;
  background-color: var(--wfadaptor-background);
  border: 1pt solid var(--wfadaptor-border);
  border-radius: 1em;
}

.resource-label:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 15px;
  top: 2em;
  border: 8.5px solid;
  border-color: var(--wfadaptor-border) transparent transparent var(--wfadaptor-border);
}

.resource-label:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 16px;
  top: 2em;
  border: 7.5px solid;
  border-color: var(--wfadaptor-background) transparent transparent var(--wfadaptor-background);
}

