#areanew                       { height: 9.2em; } 
#areanew td:nth-child(1)       { width: 7em; padding-right: 1em; }
#areanew td:nth-child(3)       { width: 16em; padding-left: 1em; }
#areanew input                 { width: 100%;  }
#areanew button[name=base]     { width: 100%;  }
#areanew button[name=instance] { width: 100%;  }

div.tabbed table.tabbar td.tabbehind input { 
  border: 0 none; 
  text-align: right; 
  width: 100%;
}

div.tabbed table.tabbar td.tabbehind button {
  border: 1pt solid buttonshadow;
  margin-left: 0.5em;
}

button.highlight { background-color: #cc0000; }

#parameters .tabbelow { height: 9em; min-height: 1.7em; }

#areadataelements { height: 100%; overflow: auto; }
#areaendpoints    { height: 100%; overflow: auto; }
#areaexecution    { height: 9.2em; overflow: auto; }

#areainstance                       { height: 9.2em; overflow: auto; }
#areainstance td:nth-child(1)       { width: 12em; padding-right: 0.5em; }
#areainstance td:nth-child(2)       { width: 1em; padding-right: 0.5em; }
#areainstance input                 { padding: 0; margin:0; }
#areainstance tr:nth-child(3) td    {                                     padding-bottom: 0.5em; }
#areainstance tr:nth-child(4) td    { border-top: 1px solid ButtonShadow; padding-top:    0.5em; }
#areainstance button                { width: 100% }

#dat_log { width:100%; }
#dat_log td { vertical-align: top; }
#dat_log tr:nth-child(odd) { background-color: ButtonFace; color: ButtonText; }

#areagraph { }

#dat_endpoints {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
  width: 100%;
}
#dat_endpoints button                  { border: 1pt solid buttonshadow; padding: 0; }
#dat_endpoints td:nth-child(1)         { width: 1.2em; font-size: 1.3em; font-weight: bold; }
#dat_endpoints td:nth-child(2)         { width: 8em; }
#dat_endpoints td:nth-child(3)         { width: 0; }
#dat_endpoints tr:nth-child(odd)       { background-color: ButtonFace; color: ButtonText; }
#dat_endpoints tr:nth-child(odd) input { background-color: ButtonFace; }
#dat_endpoints input:first-child       { border: 0 none; width: 8em; }  
#dat_endpoints input:last-child        { border: 0 none; width: 100%; }

#dat_dataelements {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
  width: 100%;
}
#dat_dataelements button                  { border: 1pt solid buttonshadow; padding: 0; }
#dat_dataelements td:nth-child(1)         { width: 1.2em; font-size: 1.3em; font-weight: bold;}
#dat_dataelements td:nth-child(2)         { width: 8em; }
#dat_dataelements td:nth-child(3)         { width: 0; }
#dat_dataelements tr:nth-child(odd)       { background-color: ButtonFace; color: ButtonText; }
#dat_dataelements tr:nth-child(odd) input { background-color: ButtonFace; }
#dat_dataelements input:first-child       { border: 0 none; width: 8em; }  
#dat_dataelements input:last-child        { border: 0 none; width: 100%; }

#dat_dsl {
  margin: 1em;
  font-family: monospace; 
  font-size:1.3em;
}

span.active {
  font-weight: bold;
  color: #cc0000;
}
span.passive {
  font-weight: bold;
  color: #3465a4;
}
span.vote {
  font-weight: bold;
  color: #73d216;
}

#detailcolumn { width: 50%; }
#detailcolumn .column { padding-left: 2em; }
#graphcolumn { border-right: 1pt solid ButtonShadow; min-width: 9em; }

.ui-resizable-handle { 
  z-index: 99999; 
  color: ButtonShadow;
  position: absolute;
  white-space:nowrap;
}
.ui-resizable-w { 
  cursor: w-resize; 
  -webkit-transform: rotate(90deg); 
  -webkit-transform-origin: 0% 100%; 
  -moz-transform: rotate(90deg); 
  -moz-transform-origin: left bottom; 
  margin-top: -1em;
  margin-left: 0.3em;
}
.ui-resizable-s { 
  right:2em;
  cursor: s-resize; 
  text-align: right;
  margin-top: 1.1em;
}

#dat_details {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
  width: 100%;
}
#dat_details td.del                     { width: 1.2em; }
#dat_details td.del a                   { font-size: 1.3em; font-weight: bold; }
#dat_details td.pname                   { width: 7em;    vertical-align: top; }
#dat_details td.cname                   { width: 10.2em; vertical-align: top; padding-top:0.25em; }
#dat_details td.sep                     { width: 0;      vertical-align: top; padding-top:0.25em; }
#dat_details tr.indent td:nth-child(1)  { padding-left: 2em;}
#dat_details tr:nth-child(odd) input    { background-color: ButtonFace; }
#dat_details tr:nth-child(odd) textarea { background-color: ButtonFace; }
#dat_details input:first-child          { border: 0 none; width: 7em; }  
#dat_details input:last-child           { border: 0 none; width: 100%; }
#dat_details textarea                   { border: 0 none; width: 100%; }
#dat_details tr.header td               { padding-bottom:0.2em; padding-top: 0.6em; }

#dat_details tr:nth-child(odd) { background-color: ButtonFace; color: ButtonText; }

