body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1em;
}

#graphgrid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: max-content repeat(100,min-content);
  width: 100%;
}
#graphcanvas {
  grid-column: 1;
}
.graphspacer {
  grid-row: 1;
  grid-column: 2;
}
.graphlabel {
  padding-left: 0.5em;
  display: flex;
  flex-direction: row;
}
.graphlabel > span {
  align-self: center;
  white-space: nowrap;
}

#instance ui-content { height: 7em; }

#areanew td:nth-child(1)       { width: 7em; padding-right: 1em; }
#areanew td:nth-child(3)       { width: 16em; padding-left: 1em; }
#areanew input                 {
  width: 100%;
  padding: 0.1em 0.5em;
  border: 0.1em solid var(--x-ui-border-color);
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#areanew button[name=base]     { width: 100%; padding: 0.5em 1em; margin-bottom: 0.1em; }
#areanew button[name=instance] { width: 100%; padding: 0.5em 1em; }

ui-tabbed ui-tabbar ui-behind button {
  margin-left: 0.5em;
}

#current-instance[href]:after {
  content: "|";
}
#current-instance-properties[href]:after {
  content: "|";
}
#current-instance-subscriptions[href]:after {
  content: "|";
}

#parameters ui-content { height: 8.5em; min-height: 1.7em; }

#areadataelements { height: 100%; overflow-x: hidden; overflow-y: scroll; }
#areadataelements button.relaxngui_control { display: none; }
#areaendpoints { height: 100%; overflow-x: hidden; overflow-y: scroll; }
#areaendpoints button.relaxngui_control { display: none; }
#areaattributes { height: 100%; overflow-x: hidden; overflow-y: scroll; }
#areaattributes button.relaxngui_control { display: none; }

#areainstance input[type=file]         { display: none; }
#areainstance div.section              { display: table-cell; vertical-align: middle; }
#areainstance div.section:nth-child(1) {                                                  padding: 0 0.5em 0 0; white-space: nowrap; }
#areainstance div.section:nth-child(2) { border-left: 1px solid var(--x-ui-border-color); padding: 0 0.5em;     white-space: nowrap; }
#areainstance div.section:nth-child(3) { border-left: 1px solid var(--x-ui-border-color); padding: 0 0 0 0.5em; white-space: nowrap; }

#areainstance div.section:nth-child(1) div                          { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areainstance div.section:nth-child(1) button                       { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areainstance div.section:nth-child(1) div:nth-child(2)             { white-space: normal; text-align: right; }
#areainstance div.section:nth-child(1) button[name=loadtestset]     { white-space: normal; width: 10em; height: 3.5em; }
#areainstance div.section:nth-child(1) button[name=loadtestsetfile] { white-space: normal; width: 10em; height: 3.5em; margin-left: 0.2em; }
#areainstance div.section:nth-child(1) button[name=loadmodelfile]   { white-space: normal; width: 10em; height: 2em;   margin-top: 0.2em; }

#areainstance div.section:nth-child(2) button                       { white-space: normal; width: 6em; height: 4.5em; vertical-align: middle; margin: 0; padding: 0; }
#areainstance div.section:nth-child(3) div                          { white-space: normal; vertical-align: middle; margin: 0; padding: 0; }
#areainstance div.section:nth-child(3) button[name=loadmodeltype]   { white-space: normal; width: 10em; height: 2em; }

#areaexecution input { padding: 0; margin:0; }
#areaexecution table.x-ui-compact { width: 100%; }
#areaexecution table.x-ui-compact tr td:nth-child(1) { width: 15ex; }

#areaexecution table.x-ui-compact tbody.debug tr:last-child td { padding-bottom: 0.5em; }
#areaexecution table.x-ui-compact tbody.debug tr:last-child td input { vertical-align: middle; }
#areaexecution table.x-ui-compact tbody.exe tr:first-child td { padding-top: 0.5em; }
#areaexecution table.x-ui-compact tbody.exe { border-top: 1px solid var(--x-ui-border-color); }

#areaexecution table.x-ui-compact tbody.exe td { height: 2.2em; }

#dat_endpoints {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
  width: 100%;
}

#dat_dataelements {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
  width: 100%;
}
#dat_attributes {
  border-collapse:collapse;
  border-spacing:0;
  border:0 none;
  margin:0;
  padding:0;
  width: 100%;
}

#areadsl div { padding: 0 1em; }
#areadsl div:first-child { padding-top: 1em; }
#areadsl div:last-child { padding-bottom: 1em; }
#areadsl pre {
  font-family: monospace;
  font-size:1.3em;
}

span.active {
  font-weight: bold;
  color: #cc0000;
}
span.passive {
  font-weight: bold;
  color: #3465a4;
}
span.vote {
  font-weight: bold;
  color: #73d216;
}

#graphcolumn {
  margin: 0;
  padding: 0;
  border-right: 1px solid var(--x-ui-border-color);
  min-width: 9em;
}
#detailcolumn {
  padding-left: 1.5em;
}

#dat_log tr:nth-child(odd) { background-color: #e8e8e8; color: #333; }

#dat_details { border: 0 none; border-top: 1em solid white; border-bottom: 1em solid white; width: inherit; border-right: 1em solid white; }

#disclaimer {
  padding: 1em;
  overflow: auto;
}
#disclaimer p { max-width: 80ex; text-align: justify; }
#disclaimer input { margin:0; padding:0; vertical-align:bottom; margin-right: 0.5em; }
