/*
  This file is part of CPEE.

  CPEE is free software: you can redistribute it and/or modify it under the terms
  of the GNU General Public License as published by the Free Software Foundation,
  either version 3 of the License, or (at your option) any later version.

  CPEE is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  PARTICULAR PURPOSE.  See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  CPEE (file COPYING in the main directory).  If not, see
  <http://www.gnu.org/licenses/>.
*/

/* Browser Bug, set textarea explicitly */
svg {
  fill: #DDDDDD;
  fill-opacity:1;
  display:inline;
  margin:0;
  padding:0;
  width: 100%;
}

svg rect.group {
  fill: Highlight;
  fill-opacity: 0.2;
}

svg g.passive .rfill {
  fill: #729fcf;
  fill-opacity:1;
}
svg g.active .rfill {
  fill: #ef2929;
  fill-opacity:1;
}
svg g.vote .rfill {
  fill: #8ae234;
  fill-opacity:1;
}

svg .rfill.menu {
  fill: #ff7f7f;
  fill-opacity:1;
}

svg line.ourline, svg path.ourline {
  stroke-opacity:1;
  stroke:#000000;
  stroke-width: 2;
  fill: none;
}
svg rect.block {
  stroke-width: 1;
  stroke-dasharray: 3,5;
  stroke: #000000;
  fill: none;
}
svg rect.tile {
  stroke-width: 1;
  stroke-dasharray: 3,5;
  fill: Highlight;
  fill-opacity: 0.3;
  display: none;
}
svg .stand {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .standfat {
  fill:#ffffff;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:3;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .normal {
  fill:#000000;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .white {
  fill:#000000;
  fill-opacity:1;
  stroke:#ffffff;
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .black {
  fill:#000000;
  fill-opacity:1;
  stroke:#000000;
  stroke-width: 1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

svg .marked text.label {
  color: #d4d4d4;
  fill: #d4d4d4;
}
svg .marked .cfill {
  fill:#d4d4d4;
  fill-opacity:1;
  stroke:#d4d4d4;
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .marked .cline {
  stroke:#d4d4d4;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

svg .clicked text.label {
  color: #f57900;
  fill: #f57900;
}
svg .clicked .cfill {
  fill:#f57900;
  fill-opacity:1;
  stroke:#f57900;
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .clicked .cline {
  stroke:#f57900;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

svg .unknown {
  fill:#FF0000;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

svg .gen {
  fill:ButtonFace;
  fill-opacity:1;
  stroke-opacity:0.7;
  stroke:#000000;
  stroke-width:1.6;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg .standwithout {
  fill:#ffffff;
  fill-opacity:1;
}
svg .standtrans {
  fill:#ffffff;
  fill-opacity:0;
}
svg text.normal {
  font-size:20px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:horizontal-tb;
  text-anchor:middle;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}
svg text.inverted {
  font-size:20px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:horizontal-tb;
  text-anchor:middle;
  color:#ffffff;
  fill:#ffffff;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}

svg text.super {
  font-size:11px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:100%;
  writing-mode:horizontal-tb;
  text-anchor:start;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}
svg tspan.active {
  fill:#cc0000;
  display: none;
}
svg tspan.vote {
  fill:#73d216;
  display: none;
}
svg tspan.colon {
  display: none;
}
svg tspan.necessary {
  display: inline;
}

svg text.normallarge {
  font-size:25px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:horizontal-tb;
  text-anchor:middle;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}

svg text.small {
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:horizontal-tb;
  text-anchor:middle;
  color:#000000;
  fill:#000000;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}

svg text.label {
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  font-stretch:normal;
  text-align:center;
  line-height:125%;
  writing-mode:horizontal-tb;
  text-anchor:left;
  color: #a1a1a1;
  fill: #a1a1a1;
  fill-opacity:1;
  stroke:none;
  font-family:Arial;
}

#arrow {
  stroke: #000000;
  stroke-width: 2;
  fill: #000000;
}

svg g.element[element-id]:hover .hfill {
  fill: #f57900;
  fill-opacity:1;
  cursor: pointer;
}
svg g.element[element-id]:hover .hline {
  fill:#f57900;
  fill-opacity:1;
  stroke:#f57900;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
  cursor: pointer;
}
svg g.element[element-id]:hover .htext {
  fill:#f57900;
  fill-opacity:1;
  stroke:#f57900;
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
  cursor: pointer;
}
svg g.element[element-id]:hover > text.label {
  color: #f57900;
  fill: #f57900;
}
svg g.element[element-id]:hover .cfill {
  fill:#000000;
  fill-opacity:1;
  stroke:#000000;
  stroke-width:0.2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
svg g.element[element-id]:hover .cline {
  stroke:#000000;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}
